header {
  position: relative;
  width: 100%;
  height: 400px;
  background: url("/header.jpg") no-repeat;
  background-position-y: -15rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-info {
  width: 80%;
  z-index: 1000;
}

h1 {
  font-size: 3rem;
  color: rgba(242, 150, 32, 1);
  letter-spacing: 2px;
}

.header-info p {
  color: rgba(242, 150, 32, 1);
  font-size: 1.3rem;
}

.header-info p a {
  color: white;
  transition: 0.5s;
}

.header-info p a:hover {
  color: rgba(242, 150, 32, 1);
}

@media (max-width: 996px) {
  header {
    border-radius: 0px;
  }
}

@media (max-width: 776px) {
  header {
    background-position: center;
  }
}
