<footer class="footer">
  <div class="container">
    <!-- Get In Touch Section -->
    <div class="get-in-touch">
      <h2 class="section-title">
        <span class="icon">⚡</span> You're One Of Us
      </h2>

      <div class="subscribe-section">
        <div class="subscribe-content">
          <h1>Get In Touch</h1>
          <p>
            Become visionary behind a sprawling metropolis Metropolis Tycoon.
          </p>
        </div>

        <div class="subscribe-form">
          <input type="email" placeholder="Enter your email" />
          <button>Submit</button>
        </div>
      </div>
    </div>

    <!-- Links Section -->
    <div class="links-section">
      <div class="link-column">
        <h3>Quick Link</h3>
        <ul>
          <li>
            <a routerLink="/" routerLinkActive=".activeLink">Home</a>
          </li>
          <li>
            <a routerLink="/games" routerLinkActive=".activeLink">Games</a>
          </li>

          <li>
            <a routerLink="/profile" routerLinkActive=".activeLink">Profile</a>
          </li>
        </ul>
      </div>

      <div class="link-column">
        <h3>EXPLORE</h3>
        <ul>
          <li>
            <a routerLink="/games/trending" routerLinkActive=".activeLink"
              >Trending</a
            >
          </li>
          <li>
            <a routerLink="/games/upcoming" routerLinkActive=".activeLink"
              >Upcoming</a
            >
          </li>
        </ul>
      </div>

      <div class="link-column">
        <h3>Help</h3>
        <ul>
          <li>
            <a
              href="mailto: romanyfady22@gmail.com"
              routerLinkActive=".activeLink"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>

      <div class="link-column">
        <h3>Follow Us</h3>

        <div class="social-links">
          <a
            href="https://linkedin.com/in/fadi-romany-b1a982267"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i> LinkedIn</a
          >
          <a href="https://github.com/FadyRom" target="_blank"
            ><i class="fa-brands fa-github"></i> Github</a
          >
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>
        Copyright © {{ currentYear() }} | Designed By <span>Fady Romany</span>
      </p>
    </div>
  </div>
</footer>
