<div class="content">
  <div class="main-content">
    <div class="game-stats">
      <div class="library-header">
        <h2>Library</h2>
        <button routerLink="/profile/library">View All</button>
      </div>
      <div class="games-grid">
        @for (game of libraryGames(); track game.id) {

        <div class="game-card" [routerLink]="['/games/', game.id]">
          <img [src]="game.background_image" [alt]="game.name" />
          <h3>{{ game.name }}</h3>
        </div>

        }
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="game-stats">
      <div class="library-header">
        <h2>Wishlist</h2>
        <button routerLink="/profile/wishlist">View All</button>
      </div>
      <div class="games-grid">
        @for (game of wishlistGames(); track game.id) {

        <div class="game-card" [routerLink]="['/games/', game.id]">
          <img [src]="game.background_image" [alt]="game.name" />
          <h3>{{ game.name }}</h3>
        </div>

        }
      </div>
    </div>
  </div>
</div>
