<div class="content">
  <div class="main-content">
    <div class="game-stats">
      <div class="library-header">
        <h2>Library Games</h2>
        <button routerLink="/profile/library">View All</button>
      </div>
      <div class="games-grid">
        <div class="game-card">
          <img src="esport.jpg" alt="Lunar Legends" />
          <h3>Lunar Legends</h3>
        </div>
        <div class="game-card">
          <img src="esport.jpg" alt="Elysian Tales" />
          <h3>Elysian Tales</h3>
        </div>
        <div class="game-card">
          <img src="esport.jpg" alt="Soul Spark" />
          <h3>Soul Spark</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="game-stats">
      <div class="library-header">
        <h2>Wishlist</h2>
        <button routerLink="/profile/wishlist">View All</button>
      </div>
      <div class="games-grid">
        <div class="game-card">
          <img src="esport.jpg" alt="Lunar Legends" />
          <h3>Lunar Legends</h3>
        </div>
        <div class="game-card">
          <img src="esport.jpg" alt="Elysian Tales" />
          <h3>Elysian Tales</h3>
        </div>
        <div class="game-card">
          <img src="esport.jpg" alt="Soul Spark" />
          <h3>Soul Spark</h3>
        </div>
      </div>
    </div>
  </div>
</div>
