<app-header headerRoute="Esports" />
<div class="container">
  <div class="tournaments-grid">
    <div class="tournament-card" routerLink="/esports/codmw">
      <img src="/tournaments/cod.jpg" class="card-image" />
      <div class="tournament-info">
        <h2>call of duty</h2>
      </div>
    </div>
    <div class="tournament-card" routerLink="/esports/csgo">
      <img src="/tournaments/csgo.jpg" class="card-image" />
      <div class="tournament-info">
        <h2>csgo</h2>
      </div>
    </div>
    <div class="tournament-card" routerLink="/esports/dota2">
      <img src="/tournaments/dota2.jpg" class="card-image" />
      <div class="tournament-info">
        <h2>dota 2</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/ea.jpg"
        class="card-image"
        routerLink="/esports/fifa"
      />
      <div class="tournament-info">
        <h2>ea sports</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/kog.jpg"
        class="card-image"
        routerLink="/esports/kog"
      />
      <div class="tournament-info">
        <h2>king of glory</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/lol.jpg"
        class="card-image"
        routerLink="/esports/lol"
      />
      <div class="tournament-info">
        <h2>league of legends</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/ow2.jpg"
        class="card-image"
        routerLink="/esports/ow"
      />
      <div class="tournament-info">
        <h2>overwatch 2</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/pubg.jpg"
        class="card-image"
        routerLink="/esports/pubg"
      />
      <div class="tournament-info">
        <h2>PUBG</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/rocket.jpg"
        class="card-image"
        routerLink="/esports/rl"
      />
      <div class="tournament-info">
        <h2>rocket league</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/rs6.jpg"
        class="card-image"
        routerLink="/esports/r6siege"
      />
      <div class="tournament-info">
        <h2>rainbow 6 siege</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/starcraft2.jpg"
        class="card-image"
        routerLink="/esports/starcraft-2"
      />
      <div class="tournament-info">
        <h2>starcraft 2</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/valo.jpg"
        class="card-image"
        routerLink="/esports/valorant"
      />
      <div class="tournament-info">
        <h2>valorant</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/mobileLegends.jpg"
        class="card-image"
        routerLink="/esports/mlbb"
      />
      <div class="tournament-info">
        <h2>mobile legends</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/lolWr.jpg"
        class="card-image"
        routerLink="/esports/lol-wild-rift"
      />
      <div class="tournament-info">
        <h2>wild rift</h2>
      </div>
    </div>
    <div class="tournament-card">
      <img
        src="/tournaments/starcraft1.jpg"
        class="card-image"
        routerLink="/esports/starcraft-brood-war"
      />
      <div class="tournament-info">
        <h2>starcraft 1</h2>
      </div>
    </div>
  </div>
</div>
