<nav>
  <div class="input-logo">
    <h2>Glitch</h2>
    <div class="search-field-div">
      <input
        type="search"
        name="search-field"
        id="search-field"
        placeholder="search..."
      />
      <i class="fa-solid fa-search"></i>
    </div>
    <div class="latest-news">
      <span><i class="fa-solid fa-bullhorn"></i></span>
      <p>news for you</p>
    </div>
  </div>

  <div class="signin-burger">
    <div class="signin">
      <a href="" class="login">login</a>
      <a href="" class="signup">signup</a>
    </div>
    <i class="fa-solid fa-list" (click)="sideState()"></i>
  </div>
</nav>
