<nav>
  <div class="input-logo">
    <h2 routerLink="/" class="glitch-logo">Glitch</h2>
    <div class="search-field-div">
      <input
        #search
        type="search"
        name="search-field"
        id="search-field"
        placeholder="search..."
        (keydown.enter)="searchGame(search.value)"
      />
      <i class="fa-solid fa-search" (click)="searchGame(search.value)"></i>
    </div>
  </div>

  <div class="signin-burger">
    @if (!loginState()) {

    <div class="signin">
      <a routerLink="/login" class="login">Login</a>
      <a href="/signup" class="signup">Signup</a>
    </div>
    }@else {
    <div class="profile-section" routerLink="/profile">
      <div class="profile-image">
        <img src="avatar.svg" alt="Profile image" />
      </div>
      <div class="profile-info">
        <h3 class="profile-name">
          {{ loginState()?.displayName }}
        </h3>
      </div>
    </div>
    }
    <i class="fa-solid fa-list" (click)="sideState()"></i>
  </div>
</nav>
