<nav>
  <div class="input-logo">
    <h2 routerLink="/" class="glitch-logo">Glitch</h2>
    <div class="search-field-div">
      <input
        #search
        type="search"
        name="search-field"
        id="search-field"
        placeholder="search..."
        (keydown.enter)="searchGame(search.value)"
      />
      <i class="fa-solid fa-search" (click)="searchGame(search.value)"></i>
    </div>
  </div>

  <div class="signin-burger">
    <div class="signin">
      <a routerLink="/login" class="login">login</a>
      <a href="/signup" class="signup">signup</a>
    </div>
    <i class="fa-solid fa-list" (click)="sideState()"></i>
  </div>
</nav>
