.loading-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: black;
}

.loading-icon {
  position: sticky;
  top: 50%;
  left: 47%;
  color: greenyellow;
  background-color: white;
  font-size: 100px;
  border-radius: 100%;
  animation: spin 2s ease-in infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
