<app-header headerRoute="Library" />

<div class="library-container">
  <h1>Wishlist</h1>

  <div class="game-grid">
    @for (game of wishlistGames(); track game.id) {

    <div class="game-card" [routerLink]="['/games/', game.id]">
      <div class="game-image">
        <img [src]="game.background_image" [alt]="game.name" />
      </div>
      <div class="game-details">
        <h3>{{ game.name }}</h3>
        <div class="community-info"></div>
        <div class="card-actions">
          <button class="collection-btn">{{ game.released }}</button>
          <button class="share-btn">
            {{ game.rating }}
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
