<div class="list-header">
  <h2>Tournaments</h2>
  <a routerLink="/tournaments">View All</a>
</div>
<section class="container-section">
  <div class="first-row">
    <div
      class="hexagon"
      style="background-image: url('/tournaments/lol.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/dota2.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/rocket.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/ea.jpg')"
    ></div>
  </div>
  <div class="second-row">
    <div
      class="hexagon"
      style="background-image: url('/tournaments/cod.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/ow2.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/kog.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/lolWr.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/rs6.jpg')"
    ></div>
  </div>
  <div class="third-row">
    <div
      class="hexagon"
      style="background-image: url('/tournaments/valo.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/csgo.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/starcraft2.jpg')"
    ></div>
    <div
      class="hexagon"
      style="background-image: url('/tournaments/pubg.jpg')"
    ></div>
  </div>
</section>
