.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.list-header a {
  --tw-bg-opacity: 1;
  background-color: rgb(35 38 39 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(254 254 254 / var(--tw-text-opacity));
  padding: 10px;
  width: 7rem;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: large;
  transition: 0.5s;
}

.list-header a:hover {
  scale: 1.1;
  color: rgba(242, 150, 32, 1);
  background-color: black;
  box-shadow: 0px 0px 8px white;
}

.list-header h2 {
  font-size: xx-large;
  font-weight: 500;
}

.container-section .first-row,
.container-section .second-row,
.container-section .third-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -1.5rem; /* Adjust overlap */
}

.hexagon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw; /* Scales with screen */
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  margin: -0.5rem 0;
}

.hexagon:hover {
  width: 16vw;
}

/* Responsive Tweaks */
@media (max-width: 996px) {
  .hexagon {
    width: 16vw; /* Bigger hexagons on smaller screens */
  }

  .hexagon:hover {
    width: 20vw;
  }
}

@media (max-width: 660px) {
  .container-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container-section .first-row,
  .container-section .second-row,
  .container-section .third-row {
    flex-direction: column;
    align-items: center;
    /* margin-top: ; */
  }
  .hexagon {
    rotate: 90deg;
    width: 28vw;
    margin: -0.5rem -0.8rem;
  }

  .hexagon:hover {
    width: 32vw;
  }

  .hexagon h3 {
    rotate: -90deg;
  }

  .hexagon::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    transform: rotate(-90deg);
    z-index: -1; /* Keeps it behind */
  }
}

@media (max-width: 425px) {
  .list-header {
    padding: 0 1rem;
  }
  .list-header a {
    padding: 4px;
    width: 5rem;
    font-size: small;
  }

  .list-header h2 {
    font-size: 1.5rem;
  }
}
