<div class="list-header">
  <h2>Tournaments</h2>
  <a routerLink="/esports">View All</a>
</div>
<section class="container-section">
  <div class="first-row">
    <div
      class="hexagon"
      routerLink="/esports/lol"
      style="background-image: url('/tournaments/lol.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/dota2"
      style="background-image: url('/tournaments/dota2.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/rl"
      style="background-image: url('/tournaments/rocket.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/fifa"
      style="background-image: url('/tournaments/ea.jpg')"
    ></div>
  </div>
  <div class="second-row">
    <div
      class="hexagon"
      routerLink="/esports/codmw"
      style="background-image: url('/tournaments/cod.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/ow"
      style="background-image: url('/tournaments/ow2.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/kog"
      style="background-image: url('/tournaments/kog.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/lol-wild-rift"
      style="background-image: url('/tournaments/lolWr.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/r6siege"
      style="background-image: url('/tournaments/rs6.jpg')"
    ></div>
  </div>
  <div class="third-row">
    <div
      class="hexagon"
      routerLink="/esports/valorant"
      style="background-image: url('/tournaments/valo.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/csgo"
      style="background-image: url('/tournaments/csgo.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/starcraft-2"
      style="background-image: url('/tournaments/starcraft2.jpg')"
    ></div>
    <div
      class="hexagon"
      routerLink="/esports/pubg"
      style="background-image: url('/tournaments/pubg.jpg')"
    ></div>
  </div>
</section>
