<div class="game-grid" #gamesGrid>
  @for (game of games(); track game.id) {
  <div class="game-card">
    <i
      [className]="false ? ' fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"
      (click)="bookmarkGame(game.id)"
    ></i>
    <i [className]="false ? ' fa-solid fa-heart' : 'fa-regular fa-heart'"> </i>

    <div [routerLink]="['/games/', game.id]">
      <div class="platforms-game-card">
        @for (platform of game.parent_platforms; track platform.platform.id) {
        @if(platform.platform.slug == 'pc'){
        <i class="fa-solid fa-computer"></i>
        } @if(platform.platform.slug === 'playstation'){
        <i class="fa-brands fa-playstation"></i>
        } @if(platform.platform.slug == 'xbox'){
        <i class="fa-brands fa-xbox"></i>
        }@if(platform.platform.slug == 'nintendo'){
        <i class="fa fa-gamepad"></i>
        } @if(platform.platform.slug == 'mac'){
        <i class="fab fa-apple"></i>
        } }
      </div>
      <img [src]="game.background_image" [alt]="game.name" />
      <div class="game-info">
        <h3>{{ game.name }}</h3>
      </div>
    </div>
  </div>
  }
</div>
