<app-header headerRoute="Games" />

<section class="main-container">
  @if (error()) {
  <app-error pleaseCheck="Filters Or Network" />
  } @else { @if(isLoading()){

  <app-loading />
  }

  <!-- Left side - Game Grid -->
  <app-game-grid [games]="games()" />
  }
  <!-- Right side - Filters -->
  <div class="filters">
    <!-- Platforms -->
    <div class="filter-section">
      <h2>Platforms</h2>
      <div class="checkbox-list">
        @for (platform of platforms; track platform) {

        <label
          [class.selected]="isPlatformSelected(platform)"
          (click)="togglePlatform(platform)"
        >
          <div
            class="custom-checkbox"
            [class.checked]="isPlatformSelected(platform)"
          >
            <div class="checkmark"></div>
          </div>
          <span>{{ platform }}</span>
        </label>
        }
        <button class="filter-button" (click)="applyPlatformFilters()">
          Apply Filters
        </button>
      </div>
    </div>

    <!-- Genres -->
    <div class="filter-section">
      <h2>Genres</h2>
      <div class="checkbox-list">
        @for (genre of genres; track genre.id) {

        <label
          [class.selected]="isGenreSelected(genre.name)"
          (click)="toggleGenre(genre.name)"
        >
          <div
            class="custom-checkbox"
            [class.checked]="isGenreSelected(genre.name)"
          >
            <div class="checkmark"></div>
          </div>
          <span>{{ genre.name }}</span>
        </label>
        }
        <button class="filter-button" (click)="applyGenreFilters()">
          Apply Filters
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Pagination -->

@if (!isLoading()) {

<app-paginator [currentPage]="currentPage()" />
}
