.main-container {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: #0a0a0a;
  color: white;
  height: fit-content;
}

/* Filters Styles */
.filters {
  width: 450px;
  padding: 0 10px;
  border-radius: 8px;
}

.filter-section {
  margin-bottom: 30px;
  background-color: #141414;
  padding: 20px;
  border-radius: 8px;
}

.filter-section h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: white;
}

.filter-button {
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.filter-button:hover {
  scale: 1.1;
  box-shadow: 0 0 5px white;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkbox-list label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #f97316;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.custom-checkbox.checked {
  background-color: #f97316;
}

.checkmark {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s;
}

.custom-checkbox.checked .checkmark {
  opacity: 1;
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 996px) {
  .main-container {
    flex-direction: column;
    padding: 10px;
  }

  .filters {
    width: 100%;
    order: -1;
  }

  .filter-section {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .error {
    font-size: medium;
  }
}
