.overview-section {
  padding: 1rem;
}

.error-container {
  width: 100%;
}

.error {
  background: rgba(255, 0, 0, 0.8);
  color: white;
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 5rem;
  width: 100%; /* Ensure it stretches across */
  z-index: 1000; /* Keep it above other elements */
}

.overview-section h2 {
  color: rgba(242, 150, 32, 1);
}

.all-platforms {
  margin: 1rem 0;
}

.platforms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.platforms span {
  background-color: rgba(242, 150, 32, 1);
  color: black;
  width: fit-content;
  padding: 5px;
  border: none;
  border-radius: 12px;
}

.overview-div {
  width: 80%;
}

article {
  font-size: medium;
}

@media (max-width: 996px) {
  .overview-div {
    width: 100%;
  }
  article {
    font-size: small;
  }
}

@media (max-width: 750px) {
  .platforms span {
    font-size: x-small;
  }
}

@media (max-width: 320px) {
  .platforms span {
    font-size: xx-small;
  }
}
